.post-container-container {
  margin: 3rem auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 5%;
    margin: 3rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.post-image {
  img {
    border-radius: 3px;
    box-shadow: 1px 1px 10px black;
  }
}
